* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
}
form {
  position: relative;
  top:5px;
  background: rgba(0, 0, 0, 0);
  width: 100%;
}
form input {
  border: 0;
  padding: 3px;
  width: 60%;
  margin-right: .5%;
}
form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 3px;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}
#typing {
  display: none;
  padding: 5px 10px;
}
.nav-bar{
  background: rgb(100, 100, 100);
  text-align: right;
  height: auto;
  width: 100%;
  padding: 0 60px;
}
.nav-bar>div{
  top:13.5px;
  position: relative;
  color: yellow;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  float: left;
}
.content{
  overflow: auto;
}
.input{
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: rgb(100, 100, 100);
  padding: 0px 60px;
}
#logout{
  height: 55px;
  width: 100px;
  background: rgba(0, 0, 0, 0); 
  color: white;
  border: none;
  font-weight: bold;
  transition: all 0.2s;
  cursor:pointer;
}
#logout:hover{
  border-radius: 3px;
  background: rgb(220, 80, 80);
}

